@model volvoTest.Models.Caminhao

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir este caminhão?</h3>
<div>
    <h4>Caminhão</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaminhaoID" />
        <input type="submit" value="Delete" class="btn btn-danger btn-xs" /> |
        <a asp-action="Index">&laquo; Back to List</a>
    </form>
</div>
